<h2>Bands!</h2>

<ul>
  <% @bands.each do |band| %>
    <li><a href="<%= band_url(band) %>"><%= band.name %></a></li>
  <% end %>
</ul>



<a href="/bands/new"> Add a Band!</a>

<br>

<%= button_to "Logout", session_url, method: :delete %>


</form>
