<h1>User Login!</h1>

<form action="<%= session_url %>" method="post">

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label>Email:
    <input type="text" name="user[email]">
  </label>
  <label>Password:
    <input type="password" name="user[password]">
  </label>

    <input type="submit" name="name" value="Login!">

  <br>

  <a href="/users/new">Sign Up</a>

</form>
